.contact-box {
    height: 100vh;
    display: flex;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    
}
.contact-left{
    display: flex;
    flex-direction: column;
}
.contact-title h2 {
    font-weight: 600;
    margin-top: 0;
    text-align: center;
}
.contact-left-title hr {
    border: none;
}
.contact-inputs::placeholder{
    color : black;
}
.contact-left button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.contact-box button:hover {
    background-color: #0056b3;
}